
#border {
  position: absolute;
  height: 98vh;
  width: 98vw;
}

#title {
  position: relative;
  font-family: Bookman, URW Bookman L, serif;
  font-variant: small-caps;
  font-size: 80px;
  color: #5A514A;
  text-align: center;
  margin: 0 auto;
}

#home {
  position: absolute;
  height: 9vh;
  top: 2vh;
  left: 2.5vh;
  z-index: 2;
}
#reset {
  position: absolute;
  height: 6vh;
  top: 90vh;
  left: 47vw;
  rotate: 10deg;
  opacity: 0.7;
  z-index: 2;
}

.doll-image {
  position: absolute;
  height: 80vh;
  z-index: 0;
}
#doll1 {
  top: 5vh;
  left: 35vw;
}
#doll2 {
  top: 5vh;
  left: 44vw;
}
#doll3 {
  top: 5vh;
  left: 40vw;
}
#doll4 {
  top: 5vh;
  left: 39vw;
}
.doll-home {
  position: absolute;
  height: 80vh;
  z-index: 0;
  top: 14vh;
  transition: all 0.5s ease-in-out; /* doll drops back down smoothly */
}
#doll1-home {
  left: 9vw;
}
#doll2-home {
  left: 33vw;
}
#doll3-home {
  left: 48vw;
}
#doll4-home {
  left: 70vw;
}
.doll-home:hover {
  filter: drop-shadow(5px 5px 20px #5A514A); /* puts shadow behind image instead of image box */
  transition: all 0.5s ease-in-out; /* smooth pick up */
  height: 81vh;
}


.clothes-image {
  position: absolute;
  z-index: 1;
  transition: all 0.5s, top 0s, left 0s ease-in-out; /* clothes drop back down smoothly */
}
.clothes-image:hover {
  /* filter: drop-shadow(5px 5px 20px #5A514A); puts shadow behind image instead of image box */
  /* transition: all 0.5s, top 0s, left 0s ease-in-out; smooth pick up */
}
.clothes-image.pickedup {
  filter: drop-shadow(5px 5px 30px #5A514A); /* puts shadow behind image instead of image box */
  transition: all 0.5s, top 0s, left 0s ease-in-out; /* smooth pick up */
  transform: scale(1.01);
}
.clothes-image.resetting {
  transition: top 1s, left 1s; /* all clothes move back to their spot in 1s */
}
#greendress1 {
  height: 90vh;
  top: 15vh;
  left: 12vw;
}
#whitedress1 {
  height: 70vh;
  top: 17vh;
  left: 77vw;
}
#coat1 {
  height: 39vh;
  top: 37vh;
  left: 55vw;
}
#rightglove1 {
  height: 9vh;
  top: 5vh;
  left: 28vw;
}
#leftglove1 {
  height: 12vh;
  top: 12vh;
  left: 30vw;
}
#hat1 {
  height: 26vh;
  top: 5vh;
  left: 8vw;
}
#flowers1 {
  height: 20vh;
  top: 10vh;
  left: 58vw;
}
#blueflowers1 {
  height: 13vh;
  top: 38vh;
  left: 7vw;
}
#passport1 {
  height: 10vh;
  top: 65vh;
  left: 10vw;
}


#tandress2 {
  height: 47vh;
  top: 35vh;
  left: 75vw;
}
#purpledress2 {
  height: 53vh;
  top: 40vh;
  left: 22vw;
}
#blackdress2 {
  height: 50vh;
  top: 15vh;
  left: 8vw;
}
#shoes2 {
  height: 12vh;
  top: 80vh;
  left: 60vw;
}
#fox2 {
  height: 20vh;
  top: 10vh;
  left: 60vw;
}
#redbag2 {
  height: 11vh;
  top: 45vh;
  left: 60vw;
}
#blackbag2 {
  height: 11vh;
  top: 15vh;
  left: 30vw;
}
#hat2 {
  height: 12vh;
  top: 15vh;
  left: 77vw;
}


#bluedress3 {
  height: 68vh;
  top: 15vh;
  left: 80vw;
}
#set3 {
  height: 45vh;
  top: 10vh;
  left: 5vw;
}
#trench3 {
  height: 55vh;
  top: 35vh;
  left: 22vw;
}
#coat3 {
  height: 30vh;
  top: 10vh;
  left: 60vw;
}
#brownbag3 {
  height: 10vh;
  top: 62vh;
  left: 5vw;
}
#suitcase3 {
  height: 18vh;
  top: 9vh;
  left: 28vw;
}
#cat3 {
  height: 20vh;
  top: 70vh;
  left: 63vw;
  transform: scaleX(-1); /* flip the image */
}
#martini3 {
  height: 10vh;
  top: 75vh;
  left: 15vw;
}
#book3 {
  height: 10vh;
  top: 52vh;
  left: 65vw;
}


#reddress4 {
  height: 67vh;
  top: 25vh;
  left: 7vw;
}
#set4 {
  height: 67vh;
  top: 10vh;
  left: 60vw;
}
#jockey4 {
  height: 67vh;
  top: 25vh;
  left: 70vw;
}
#fox4 {
  height: 20vh;
  top: 7vh;
  left: 20vw;
}
#hat4 {
  height: 7vh;
  top: 10vh;
  left: 77vw;
}
#fan4 {
  height: 17vh;
  top: 30vh;
  left: 28vw;
}
#basket4 {
  height: 10vh;
  top: 82vh;
  left: 28vw;
}
#dog4 {
  height: 15vh;
  top: 58vh;
  left: 27vw;
}