
.doll-image {
  position: absolute;
}

#doll1 {
  height: 100vh;
  top: 0vh;
  left: 33vw;
}



.clothes-image {
  position: absolute;
  z-index: 1;
}

#greendress1A {
  height: 80vh;
  top: 20vh;
  left: 10vw;
}

#greendress1B {
  height: 80vh;
  top: 20vh;
  left: 10vw;

  position: relative;
  left: -1000px;
}

#coat1A {
  height: 40vh;
  top: 50vh;
  left: 57vw;
}

#whitedress1A {
  height: 80vh;
  top: 0vh;
  left: 75vw;
}

#rightglove1A {
  height: 10vh;
  top: 5vh;
  left: 30vw;
}

#leftglove1A {
  height: 8vh;
  top: 15vh;
  left: 30vw;
}

#hat1A {
  height: 20vh;
  top: 10vh;
  left: 5vw;
  rotate: 335deg;
}

#flowers1A {
  height: 20vh;
  top: 20vh;
  left: 60vw;
}



.target {
  width:100px;
  height:100px;
  border: 1px solid #000;
  position: absolute;
  height: 100vh;
  top: 0vh;
  left: 45vw;
}




