
.doll-image {
  position: absolute;
  top: 10vh;
  left: 40vw;
  height: 80vh;
  width: 30vh;
}

#doll1 {
  z-index: 0;
}



.clothes-image {
  position: absolute;
  z-index: 1;
}

#greendress1 {
  height: 66vh;
  top: 30vh;
  left: 20vw;
}

#whitedress1 {
  height: 70vh;
  top: 10vh;
  left: 80vw;
}

#coat1 {
  height: 38vh;
  top: 50vh;
  left: 60vw;
}

.glove1 {
  rotate: 115deg;
}

#rightglove1 {
  height: 9vh;
  top: 5vh;
  left: 30vw;
}

#leftglove1 {
  height: 7vh;
  top: 15vh;
  left: 30vw;
}

#hat1 {
  height: 15vh;
  top: 10vh;
  left: 5vw;
  rotate: 345deg;
}

#flowers1 {
  height: 15vh;
  top: 20vh;
  left: 60vw;
}